*, *:before, *:after {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	color: $dark;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

a {
	color: $dark;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

.hiddendiv {
	font-size: 20px;
	display: none;
	white-space: pre-wrap;
	word-wrap: break-word;
}